services:
  nextjs:
    container_name: my-app-prod
    build:
      context: .
      dockerfile: Dockerfile.prod
    restart: always
    environment:
      - NODE_ENV=production
    networks:
      - app-network
    expose:
      - "3000"

  nginx:
    container_name: nginx-proxy
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot-etc:/etc/letsencrypt
      - web-root:/var/www/certbot
    depends_on:
      - nextjs
    networks:
      - app-network

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot-etc:/etc/letsencrypt
      - web-root:/var/www/certbot

networks:
  app-network:
    driver: bridge

volumes:
  web-root:
